@model AuditManagementPortal.Models.Audit
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Radio Selects: Flexbox and Fun</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>

    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <form asp-action="ChooseAuditType">

        <div>
            <div>
                <input type="radio" id="control_01" name="AuditType" value="Internal" checked>
                <label for="control_01">
                    <h2>Internal</h2>
                </label>
            </div><br />
            <div>
                <input type="radio" id="control_02" name="AuditType" value="SOX">
                <label for="control_02">
                    <h2>SOX</h2>
                </label>

            </div>
            <div class="form-group">
                <input type="submit" value="Start Audit" class="btn btn-primary" />
            </div>
        </div>

    </form>

    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>


</body>
</html>

